.titleLogin {
    text-align: center;
}
.loginBox {
    margin: 30px auto;
    padding: 10px;
    border: 1px solid #cccccc8c;
    border-radius: 10px;
    width: 500px;
    height: 300px;
}
.idPwBox {
    margin: 50px auto;
    width: 300px;
}